!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/readit.css')
  body
    header
      nav
        ul
          li
            a(href="/") Home
    section#wrapper!= body
        footer
          section.css-table
            section.four-column
              section.cell
                p &copy; ASP Labs.in
